<?xml version="1.0"?>
<launch>

    <arg name="can3" default="0"/>
    <arg name="can5" default="1"/>

    <!-- Launch the node to get the values of the mechanism -->
    <group ns="can3">
      <node pkg="rosserial_python" type="serial_node.py" name="serial_node_$(arg can3)">
        <param name="port" value="/dev/ttyACM0"/>
        <param name="baud" value="115200"/>
        <remap from="/frame_in" to="/can/$(arg can3)/frame_in"/>
        <remap from="/frame_out" to="/can/$(arg can3)/frame_out"/>
      </node>
    </group>

    <!-- Launch the node to get the values of the mechanism -->
    <group ns="can5">
      <node pkg="rosserial_python" type="serial_node.py" name="serial_node_$(arg can5)">
        <param name="port" value="/dev/ttyACM1"/>
        <param name="baud" value="115200"/>
        <remap from="/frame_in" to="/can/$(arg can5)/frame_in"/>
        <remap from="/frame_out" to="/can/$(arg can5)/frame_out"/>
      </node>
    </group>

    <!-- Launch the node to get info -->
    <node pkg="legsub_can" type="legsub_can_parse.py" name="legsub_can_parse" output="screen"></node>
    
    
</launch>